<div class="phrase-show">
  <div class="phrase-block">
    <h2>" <%= @phrase.title %> "</h2>
    <%= render partial: 'shared/buttons', locals: { phrase: @phrase } %>
    </div>
  </div>
  <div class="phrase-description">
    <%= @phrase.content %>
  </div>
  <div class="phrase-user">
    <%= link_to "#{@phrase.user.name}さん", @phrase.user %>
    <%= @phrase.updated_at.strftime('%Y年%m月%d日 %H:%M:%S') %>
  </div>
</div>
