<% provide('title', 'プロフィール編集') %>
<h2>プロフィール編集</h2>
<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user do |f| %>
  <div class="form-group">

    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class:'form-control' %>
    <br />
    <%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email, class:'form-control' %>
    <br />
    <%= f.label :description, '自己紹介' %>
    <%= f.text_area :description, row: 3, class: 'form-control' %>
    <br />
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class:'form-control' %>
    <br />
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= f.password_field :password_confirmation, class:'form-control' %>
    <br />
    <%= f.label :image, 'プロフィール画像' %>
    <br />
    <%= f.file_field :image, accept: "image/png, image/jpeg, image/gif" %>
    <br />
    <br />
    <%= f.submit '変更を保存', class: 'btn btn-primary'  %>

  </div>
  <% end %>
