<div class="post_buttons" id="post-<%= phrase.id %>"> 
  <% if liked?(phrase.id) %>
    <%= link_to like_path(phrase), method: :delete, remote: true, class: 'fav-button', id: phrase.id do %>
      <i class="fas fa-heart"></i>
      <%= phrase.likes.count %>
    <% end %>
  <% else %>
    <%= link_to like_path(phrase), method: :post, remote: true, class: 'fav-button-off', id: phrase.id do %>
      <i class="far fa-heart"></i>
      <%= phrase.likes.count %>
    <% end %>    
  <% end %>
  <i class="far fa-comment"></i>
  <%= phrase.comments.count %>
</div>
