<header>
  <nav>
    <h1>
      <a href="/">
        Kotonoha
      </a>
    </h1>
    <ul>
      <li>
        <%= link_to '人気', signup_path %>
      </li>
      <li>
        <%= link_to 'カテゴリ', signup_path %>
      </li>
      <% if current_user %>
        <li>
          <%= link_to '新規投稿', current_user %>
        </li>
        <li>
          <%= link_to 'マイページ', current_user %>
        </li>
        <li>
          <%= link_to 'ログアウト', logout_path, method: :delete %>
        </li>
      <% else  %>
        <li>
          <%= link_to '新規登録', signup_path %>
        </li>
        <li>
          <%= link_to 'ログイン', login_path %>
        </li>
      <% end %>
    </ul>
  </nav>
<div class="top_box">
  </div>
</header>
